
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>

   <p>기말과제로 만든 타이타닉 차트는 'test'와 'test2'입니다.</p>
   <p>'test'는 view3의 방법을 적용하여 차트를 작성하였고, 'test2'는 view1의 방법을 통해 제작하였습니다.</p>
  <ul>
    <li><a href="{%url 'test' %}">Test</a> </li>
    <li><a href="{%url 'test2' %}">Test2</a> </li>

    <li><a href="{% url 'world_population' %}">World Population</a></li>
    <li><a href="{% url 'ticket_class_view_1' %}">Ticket Class #1</a></li>
    <li><a href="{% url 'ticket_class_view_2' %}">Ticket Class #2</a></li>
    <li><a href="{% url 'ticket_class_view_3' %}">Ticket Class #3</a></li>

    <li><a href="{% url 'json_example' %}">JSON Example</a></li>
  </ul>


</body>
</html>